<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/vuetify@3.8.0/dist/vuetify.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.bunny.net/css?family=roboto:400,500,700"
    />
    <title>Publicaciones | PUBLISOFT</title>
    <script type="importmap">
      {
        "imports": {
          "vue": "https://cdn.jsdelivr.net/npm/vue@latest/dist/vue.esm-browser.js",
          "vuetify": "https://cdn.jsdelivr.net/npm/vuetify@3.8.0/dist/vuetify.esm.js"
        }
      }
    </script>
  </head>

  <body>
    <div id="app">
      <v-app>
        <v-app-bar app color="primary" dark>
          <v-toolbar-title>Publicaciones</v-toolbar-title>
          <v-spacer></v-spacer>
          <v-btn icon>
            <v-icon>mdi-magnify</v-icon>
          </v-btn>
          <v-btn icon>
            <v-icon>mdi-account</v-icon>
          </v-btn>
        </v-app-bar>
        <v-main>
          <v-container>
            <!-- Loading Overlay -->
            <v-overlay
              v-model="loading"
              class="align-center justify-center"
              persistent
            >
              <v-card class="pa-4">
                <v-progress-circular
                  indeterminate
                  color="primary"
                  size="64"
                ></v-progress-circular>
                <div class="text-center mt-4">Cargando</div>
              </v-card>
            </v-overlay>

            <!--  Filtros -->
            <v-form @submit.prevent="fetchPublicaciones">
              <v-row>
                <v-col cols="12" md="4">
                  <v-text-field
                    v-model="filtroRef.titulo"
                    label="Titulo"
                  ></v-text-field>
                </v-col>
                <v-col cols="12" md="4">
                  <v-select
                    v-model="filtroRef.autor"
                    :items="autores"
                    label="Autor"
                  ></v-select>
                </v-col>
                <v-col cols="12" md="4">
                  <v-select
                    v-model="filtroRef.categoria"
                    :items="categorias"
                    label="Categoria"
                  ></v-select>
                </v-col>
                <v-col cols="12" md="4">
                  <v-select
                    v-model="filtroRef.publicada"
                    :items="[{ text: 'Publicada', value: true }, { text: 'No Publicada', value: false }]"
                    item-title="text"
                    item-value="value"
                    label="Estado de publicación"
                  ></v-select>
                </v-col>
                <v-col cols="12" md="4">
                  <v-checkbox
                    v-model="showPictures"
                    label="Mostrar imágenes"
                  ></v-checkbox>
                </v-col>
                <v-col cols="12" md="4">
                  <v-checkbox
                    v-model="enableResponsive"
                    label="Habilitar tamaño responsivo"
                  ></v-checkbox>
                </v-col>
              </v-row>
            </v-form>

            <!--  Lista de publicaciones -->
            <v-row>
              <v-col
                v-for="publicacion in publicaciones"
                :key="publicacion.id"
                cols="12"
                md="4"
              >
                <v-card>
                  <v-img
                    v-if="showPictures || !enableResponsive"
                    :src="publicacion.imagenUrl"
                    height="200px"
                  ></v-img>
                  <v-chip
                    v-if="!publicacion.publicada"
                    color="grey"
                    class="position-absolute"
                    style="top: 8px; right: 8px"
                  >
                    <v-icon start icon="mdi-file-alert"></v-icon>
                    <span class="font-weight-bold">No publicada</span>
                  </v-chip>
                  <v-card-title class="mt-8"
                    >{{ publicacion.titulo }}</v-card-title
                  >
                  <v-card-subtitle
                    >{{ publicacion.autor }} - {{ publicacion.categoria
                    }}</v-card-subtitle
                  >
                  <v-card-text>{{ publicacion.descripcion }}</v-card-text>
                  <v-chip-group>
                    <v-chip
                      v-for="etiqueta in publicacion.etiquetas"
                      :key="etiqueta"
                      >{{ etiqueta }}</v-chip
                    >
                  </v-chip-group>
                </v-card>
              </v-col>
            </v-row>
            <v-slide-y-transition>
              <v-card v-if="error" color="red" class="mb-4 mt-6 py-0">
                <v-card-text
                  class="text-white d-flex align-center justify-space-between gap-2"
                >
                  {{ error }}
                  <v-btn
                    icon="mdi-close"
                    size="small"
                    variant="text"
                    color="white"
                    @click="error = null"
                  ></v-btn>
                </v-card-text>
              </v-card>
            </v-slide-y-transition>
          </v-container>
        </v-main>
      </v-app>
    </div>

    <script type="module">
      import { createApp, ref, watch, onMounted } from "vue";
      import { createVuetify } from "vuetify";

      const DEFAULT_API_HOST="f947-132-251-1-165.ngrok-free.app";

      const queryString = window.location.search;
      const urlParams = new URLSearchParams(queryString);
      const host = urlParams.get('from') ?? DEFAULT_API_HOST;

      const API_URL = `http://${host}/graphql`;

      const app = createApp({
        setup() {
          const showPictures = ref(true);
          const enableResponsive = ref(true);

          const loading = ref(false);
          const error = ref(null);

          const publicaciones = ref([]);
          const autores = ref([]);
          const categorias = ref([]);

          const filtroRef = ref({
            titulo: "",
            autor: null,
            categoria: null,
            publicada: null,
          });

          const makeQuery = (name, params, fields) => {
            const queryParams = [];
            const functionParams = [];

            if (!Object.keys(params).length) {
              if (!fields.length) {
                return `
                query {
                  ${name}
                }
              `;
              }

              return `
                    query {
                        ${name} {
                            ${fields.join("\n")}
                        }
                    }
                `;
            }

            for (const param in params) {
              const { type, inQuery = true, inFunction = true } = params[param];
              if (inQuery) queryParams.push(`$${param}: ${type}`);
              if (inFunction) functionParams.push(`${param}: $${param}`);
            }

            return `
              query (${queryParams.join(", ")}) {
                ${name}(${functionParams.join(", ")}) {
                  ${fields.join("\n")}
                }
              }
            `;
          };

          const fetchPublicaciones = async () => {
            const fields = [
              "id",
              "titulo",
              "autor", // lista de autores
              "categoria", // lista de categorias
              "descripcion",
              "publicada", // booleano
              "etiquetas",
            ];

            if (showPictures.value) fields.push("imagenUrl");

            const query = makeQuery(
              "publicaciones",
              { filtro: { type: "PublicacionInput" } },
              fields
            );

            const variables = { filtro: filtroRef.value };
            const response = await fetch(API_URL, {
              method: "POST",
              headers: {
                "Content-Type": "application/json",
              },
              body: JSON.stringify({ query, variables }),
            });
            if (!response.ok) throw new Error("Error al obtener publicaciones");
            const result = await response.json();
            publicaciones.value = result.data.publicaciones;
          };

          const fetchAutores = async () => {
            const query = makeQuery("autores", {}, []);
            const response = await fetch(API_URL, {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ query }),
            });
            if (!response.ok) throw new Error("Error al obtener autores");
            const result = await response.json();
            autores.value = result.data.autores;
          };

          const fetchCategorias = async () => {
            const query = makeQuery("categorias", {}, []);
            const response = await fetch(API_URL, {
              method: "POST",
              headers: { "Content-Type": "application/json" },
              body: JSON.stringify({ query }),
            });
            if (!response.ok) throw new Error("Error al obtener categorias");
            const result = await response.json();
            categorias.value = result.data.categorias;
          };

          watch(
            [filtroRef, showPictures],
            () => {
              fetchPublicaciones();
            },
            { deep: true }
          );

          onMounted(async () => {
            try {
              loading.value = true;
              await Promise.all([fetchAutores(), fetchCategorias()]);
            } catch (err) {
              error.value = err.message || "Error al cargar los datos";
            } finally {
              loading.value = false;
            }
          });

          return {
            publicaciones,
            filtroRef,
            fetchPublicaciones,
            loading,
            error,
            categorias,
            autores,
            showPictures,
            enableResponsive,
          };
        },
      });

      const vuetify = createVuetify();
      app.use(vuetify);
      app.mount("#app");
    </script>
  </body>
</html>
